page-tela-inicial {

    .card-click {
        cursor: pointer;
    }

    .icon-login{
        width: 10%;
    }

    .card{
        background-color: whitesmoke;
        border-radius: 6px;
        
    }
    .header{
        top: 2%;
    }

}
